body {
    background-color: black;
    background-image: url('img/home/capa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    position: relative; /* Necessário para o pseudo-elemento */
    display: flex; /* Adicionado para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o body ocupe a altura total da viewport */
    margin: 0; /* Remove margens padrão */
}



.card {
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.75) !important; /* Ajuste a opacidade conforme necessário */
}

.icon-item {
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 120px; /* Largura fixa */
    height: 120px; /* Altura fixa */
    display: flex; /* Para centralizar o conteúdo */
    flex-direction: column; /* Para empilhar ícone e texto */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.icon-item:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.1);
}

.icon-item i {
    font-size: 2em; /* Tamanho do ícone */
    margin-bottom: 5px; /* Espaçamento entre ícone e texto */
}

.icon-item p {
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 1em; /* Tamanho do texto */
}
.title-box {
    position: absolute;
    bottom: 50px; /* Ajuste conforme necessário para posicionar no pé do homem */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px); /* Efeito de blur */
    z-index: 10; /* Para garantir que fique acima de outros elementos */
}

.title-box h1 {
    margin: 0;
    font-size: 2.5em;
}

.main-content-wrapper {
    position: relative; /* Mantém relative para posicionamento interno */
    width: 100vw; /* Ocupa 100% da largura da viewport */
    height: 100vh; /* Ocupa 100% da altura da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
}

.man-image {
    position: relative; /* Alterado para relative */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ajustado para ficar abaixo dos ícones */
}



.centered-image {
    max-width: 50%;
    object-fit: contain;
}
.icon-container-left,
.icon-container-right {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.icon-container-left {
    left: 5%;
    transform: translate(-50%, -50%);
}

.icon-container-right {
    left: 95%;
    transform: translate(-50%, -50%);
}